body {
  background: #EAF2EF;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer li {
  list-style: none;
  margin: 0 20px;
}

li {
  padding-top: 10px;
  list-style: none;
  margin: 0 20px;
}

.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 2s ease;
}

.project-img {
  transition: all 2s ease;
}

.project-container:hover .project-img {
  transform: scale(1);
  opacity: 0.3;
}

.project-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2rem;
  transition: all 1s ease;
  opacity: 0;
}

.project-container:hover .project-link {
  opacity: 1;
}

.project-link:hover {
  color: black;
}

.fas, .fab {
  color: black;
}