body {
  /*background: #EAF2EF;*/
}

header {
  height: auto;
  padding-bottom: 95px;
}

header p {
  padding-top: 32px;
}

/* header .text {
  font-size: 50px;
  font-stretch: ultra-condensed;
  font-weight: 300;
} */
h2 {
  font-size: 50px;
}

.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  transition: all 2s ease;
}

#projects {
  height: auto;
}

.fas, .fab {
  color: white;
}

#contact {
  background: #343a40;
  color: white;
}

.footer a {
  color: white;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer li {
  list-style: none;
  margin: 0 20px;
}

li {
  padding-top: 10px;
  list-style: none;
  margin: 0 20px;
}